.events__list {
	margin-bottom: 32px;
}

.events__item--first {
	background-image: image-set(
		url('../images/events/events-1.jpg') type("image/jpeg") 1x,
		url('../images/events/events-1.webp') type("image/webp") 1x
	);
	background-size: cover;
}

.events__item--second {
	background-image: image-set(
		url('../images/events/events-2.jpg') type("image/jpeg") 1x,
		url('../images/events/events-2.webp') type("image/webp") 1x
	);
	background-size: cover;
}

.events__btn {
	width: 100%;
	max-height: 56px;
	padding: 16px;
	outline: 0;
	border: 2px solid var(--black);
	border-radius: 16px;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	color: var(--black);
	background-color: transparent;
	cursor: pointer;
}