.menu__list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.menu__item {
	position: relative;
	max-width: 304px;
	width: 100%;
	min-height: 304px;
	border-radius: 16px;
	overflow: hidden;
}

.menu__item::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.menu__item:has(.menu__link:focus) {
	outline: 2px solid var(--black);
}

.menu__link {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	padding: 16px;
}

.menu__picture {
	position: absolute;
	inset: 0;
	z-index: -10;
}

.menu__img {
	width: 100%;
	height: 100%;
}

.menu__title {
	align-self: flex-end;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	color: var(--white);
}